In [1]:
import pandas as pd

import geopy
from  geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim(user_agent="athena")

city ="Chicago"
state ="Illinois"

loc = geolocator.geocode(city+','+ state)

print("latitude is :" ,loc.latitude,"\nlongtitude is:" ,loc.longitude)

latitude is : 41.8755616
longtitude is: -87.6244212

In [3]:
cities_df_path = '/Users/evanmcneal/Desktop/Projects/athena/data_igsn/data/cities.csv'

In [4]:
cities = pd.read_csv(cities_df_path)

In [5]:
cities

            City            State    WOEID
0       New York         New York  2459115
1    Los Angeles       California  2442047
2        Chicago         Illinois  2379574
3        Houston            Texas  2424766
4        Phoenix          Arizona  2471390
..           ...              ...      ...
268     Columbia         Missouri  2383559
269   Portsmouth         Virginia  2475747
270    Rochester        Minnesota  2482950
271      Antioch       California  2355124
272   Wilmington   North Carolina  2521361

[273 rows x 3 columns]

In [14]:
for index, row in cities.iterrows():
    
    if pd.isna(row["latitude"]):
        city = row["City"]
        state = row["State"]

        loc = geolocator.geocode(city + ',' + state)

        cities.loc[index, "latitude"] = loc.latitude
        cities.loc[index, "longitude"] = loc.longitude

Abilene
Evansville
Gainesville
Vallejo
Ann Arbor
Peoria
Lansing
Lafayette
Thornton
Athens
Flint
Inglewood
Roseville
Charleston
Beaumont
Victorville
Santa Clara
Costa Mesa
Miami Gardens
Manchester
Miramar
Downey
Arvada
Allentown
Westminster
Waterbury
Norman
Midland
Elgin
West Covina
Clearwater
Cambridge
Pueblo
West Jordan
Round Rock
Billings
Erie
South Bend
San Buenaventura (Ventura)
Fairfield
Lowell
Norwalk
Burbank
Richmond
Pompano Beach
High Point
Murfreesboro
Lewisville
Richardson
Daly City
Berkeley
Gresham
Wichita Falls
Green Bay
Davenport
Palm Bay
Columbia
Portsmouth
Rochester
Antioch
Wilmington

In [15]:
cities.shape[0] - cities.dropna().shape[0]

0

In [16]:
cities

            City            State    WOEID   latitude   longitude
0       New York         New York  2459115  40.712728  -74.006015
1    Los Angeles       California  2442047  34.053691 -118.242767
2        Chicago         Illinois  2379574  41.875562  -87.624421
3        Houston            Texas  2424766  29.758938  -95.367697
4        Phoenix          Arizona  2471390  33.448437 -112.074142
..           ...              ...      ...        ...         ...
268     Columbia         Missouri  2383559  38.951883  -92.333737
269   Portsmouth         Virginia  2475747  36.867859  -76.375599
270    Rochester        Minnesota  2482950  44.023439  -92.463018
271      Antioch       California  2355124  38.004921 -121.805789
272   Wilmington   North Carolina  2521361  34.225728  -77.944711

[273 rows x 5 columns]